/* .donation-card {
    width: 180px;
    margin: 20px;
    text-align: center;
    background-color: #fff9f2;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  
  .donation-card:hover {
    transform: scale(1.05);
  }
  
  .donation-image {
    width: 100px;
    margin-top: 15px;
  }
  
  .donation-title {
    color: #7a4a34;
    margin: 10px 0 20px;
    font-weight: bold;
  } */